@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to StockTask</h1>
    <p>Explore our features and manage your inventory with ease.</p>

    <div class="mt-4">
        <a href="@Url.Action("Index", "Stores")" class="btn btn-primary btn-lg mr-3">Manage Stores</a>
        <a href="@Url.Action("Index", "Items")" class="btn btn-success btn-lg">View Items</a>
    </div>
</div>
